.Cart {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/RedDot_Burger.jpg/800px-RedDot_Burger.jpg');
  background-position: fixed;
  background-attachment: fixed;
  height: 65vh;
  color: #e9e9e9;
  width: 100vw;
}
@media screen and (max-width: 660px) {
  .Cart {
    height: 40.5vh;
    background-size: contain;
  }
}
.CartHead {
  font-size: 200%;
  display: inline-block;
  text-align: center;
  border-bottom: 2px solid #14a76c;
}
.Cart a {
  text-decoration: none;
  color: #fff;
  padding: 0 30px;
}

.Cart .active {
  color: #d4ffeb;
  padding-left: 30px;
}
.cartTotal p {
  font-size: 130%;
}
.cartTotal {
  padding: 30px 10px;
  background: linear-gradient(to right, #14a76c, #0f7a4f);
  color: rgb(243, 255, 173);
}
