.app {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 10rem;
}
.app h2 {
  display: flex-end;
  text-align: space-around;
  width: 3rem;
  height: 3rem;
  margin: 0 0.6rem;
  font-size: 2em;
}

.app label {
  color: rgb(0, 0, 0);
  height: 3rem;
  margin: 0 0.6rem;
  font-size: 2em;
}

.app button {
  width: 3rem;
  height: 3rem;
  background-color: lightgreen;
  border-radius: 50%;
  border: none;
  margin: 0 0.6rem;
  font-size: 2em;
  box-shadow: 0 4px 32px 0 rgba(10, 14, 29, 0.02),
    0 8px 64px 0 rgba(10, 14, 29, 0.08);
  cursor: pointer;
}

.app button:focus {
  outline: 0;
}
