.app {
  display: flex;
  justify-content: center;
  text-align: center;
}
.app h2 {
  display: flex-end;
  text-align: space-around;
  width: 3rem;
  height: 3rem;
  margin: 0 0.6rem;
  font-size: 2em;
}

.app button {
  width: 3rem;
  height: 3rem;
  background-color: rgb(250, 204, 53);
  border-radius: 50%;
  border: black;
  margin: 0 0.8rem;
  font-size: 0.8em;
  font-weight: bold;
  box-shadow: 0 4px 2px 0 rgba(10, 14, 29, 0.02),
    0 8px 64px 0 rgba(10, 14, 29, 0.08);
  cursor: pointer;
}

.app button:focus {
  outline: 0;
}
