# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.CustomerFrontend.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\ICT\S3-DB01\MenuApp\CustomerFrontend\.idea\.idea.CustomerFrontend.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
